- extends "smartmin/read.html"
- load smartmin i18n

- block pre-content

- block content

  %script{ type:"text/javascript" }
    var contextData = {{ context_data_json|safe }};

  .{ ng-controller:"LabelController", ng-init:"init({{ object.pk }})" }
    .page-header.clearfix
      %h2.pull-back
        %span.glyphicon.glyphicon-tag
        &nbsp;
        {{ title }}

      .page-header-buttons
        - if org_perms.labels.label_update or org_perms.labels.label_delete
          .btn-group
            - if org_perms.labels.label_update
              %a.btn.btn-default{ href:"{% url 'labels.label_update' object.pk %}", tooltip:"Edit" }
                %span.glyphicon.glyphicon-pencil
            - if org_perms.labels.label_delete
              %button.btn.btn-default{ ng-click:"deleteLabel()", tooltip:"Delete" }
                %span.glyphicon.glyphicon-trash

    .row
      .col-md-2
        .label-menu
          %h3
            - trans "Cases"
          %ul
            %li
              %a{ href:"{% url 'labels.label_inbox' object.pk %}" }
                - blocktrans with count=inbox_count
                  Inbox ({{ count }})
            %li
              %a{ href:"{% url 'labels.label_open' object.pk %}" }
                - blocktrans with count=open_count
                  Open ({{ count }})
            %li
              %a{ href:"{% url 'labels.label_closed' object.pk %}" }
                - blocktrans with count=closed_count
                  Closed ({{ count }})
      .col-md-10
        - block label-items

    %script{ type:"text/ng-template", id:"confirmModal.html" }
      .modal-header
        %h3.modal-title
          - trans "Confirm"
        .modal-body
          %span{ ng-bind-html:"prompt" }
        .modal-footer
          %button.btn.btn-danger{ ng-if:"danger", ng-click:"ok()" }
            - trans "OK"
          %button.btn.btn-primary{ ng-if:"!danger", ng-click:"ok()" }
            - trans "OK"
          %button.btn.btn-default{ ng-click:"cancel()" }
            - trans "Cancel"


- block extra-style
  {{ block.super }}
  :css
    .label-menu {
      margin-bottom: 1em;
    }
    .label-menu h3 {
      margin: 0 0 1em 0;
      font-size: 1.2em;
    }
    .label-menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
