- extends "smartmin/list.html"
- load smartmin i18n

- block table-controls
  .clearfix
    .pull-away.buttons
      - if org_perms.labels.label_create
        %a.btn.btn-default.pull-right{ href:"{% url 'labels.label_create' %}" }
          %span.glyphicon.glyphicon-plus
          - trans "Add"
