- extends "smartmin/read.html"
- load smartmin i18n

- block pre-content
  .page-header.clearfix
    %h2.pull-back
      %span.glyphicon.glyphicon-tag
      &nbsp;
      {{ title }}

    .page-header-buttons
      - if org_perms.labels.label_update
        %a.btn.btn-default{ href:"{% url 'labels.label_update' object.pk %}" }
          %span.glyphicon.glyphicon-pencil
          - trans "Edit"

- block content

  .row
    .col-md-2
      .up-label-menu
        %h3
          - trans "Cases"
        %ul
          %li
            %a{ href:"{% url 'labels.label_inbox' object.pk %}" }
              - blocktrans with count=inbox_count
                Inbox ({{ count }})
          %li
            %a{ href:"{% url 'labels.label_open' object.pk %}" }
              - blocktrans with count=open_count
                Open ({{ count }})
          %li
            %a{ href:"{% url 'labels.label_closed' object.pk %}" }
              - blocktrans with count=closed_count
                Closed ({{ count }})
      .up-label-menu
        %h3
          - trans "Groups"
        %ul
          - for group in groups
            %li
              %a{ href:"{% url 'labels.label_inbox' object.pk %}?group={{ group.pk }}" }
                {{ group.name }}

    .col-md-10
      - block label-items


- block extra-style
  {{ block.super }}
  :css
    .up-label-menu {
      margin-bottom: 1em;
    }
    .up-label-menu h3 {
      margin: 0 0 1em 0;
      font-size: 1.2em;
    }
    .up-label-menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
