- extends "home/home_base.html"
- load smartmin i18n

- block inbox-items
  .{ ng-controller:"MessagesController", ng-init:"init()" }
    .search-toolbar
      %form.form-inline
        .row
          .col-md-12{ style:"padding-bottom: 5px" }
            %input.form-control{ ng-model:"search.text", type:"text", placeholder:"Containing", style:"width: 250px" }
            %span.date-range{ ng-controller:"DateRangeController" }
              .form-group
                %label{ for:"search-after" }
                  - trans "From"
                .input-group.date-picker
                  %input.form-control{ type:"text", datepicker-popup:"[[ format ]]", ng-model:"search.after", is-open:"afterOpen", min-date:"afterMin", max-date:"afterMax", ng-change:"onAfterChange()" }
                  %span.input-group-btn
                    %button.btn.btn-default{ type:"button", ng-click:"openAfter($event)" }
                      %i.glyphicon.glyphicon-calendar
              .form-group
                %label{ for:"search-before" }
                  - trans "Until"
                .input-group.date-picker
                  %input.form-control{ type:"text", datepicker-popup:"[[ format ]]", ng-model:"search.before", is-open:"beforeOpen", min-date:"beforeMin", max-date:"beforeMax", ng-change:"onBeforeChange()" }
                  %span.input-group-btn
                    %button.btn.btn-default{ type:"button", ng-click:"openBefore($event)" }
                      %i.glyphicon.glyphicon-calendar
            .checkbox
              %input{ type:"checkbox", ng-model:"search.reverse" }
              %label
                - trans "Oldest first"
        .row
          .col-md-12
            .pull-back
              %select.select2.group-select{ id:"search-groups", multiple:"multiple", ng-model:"search.groups", data-placeholder:"Select groups to include" }
                - for group in groups
                  %option{ value:"{{ group.uuid }}" }
                    {{ group.name }}
            .pull-away
              // figure out why form is double-submitted when this is moved to ng-submit on the form. jQuery conflict?
              %button.btn.btn-default{ type:"button", ng-click:"onMessageSearch()" }
                %span.glyphicon.glyphicon-search
                - trans "Search"
              %button.btn.btn-default{ type:"button", ng-click:"onClearSearch()" }
                - trans "Clear"

    .selection-toolbar
      .row
        .col-md-12
          .selection-controls.pull-back
            .btn-group{ dropdown:"true" }
              %button.btn.btn-default.dropdown-toggle{ type:"button", dropdown-toggle:"true" }
                - trans "Select"
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{ href:"#", ng-click:"selectAll()" }
                    - trans "All"
                %li
                  %a{ href:"#", ng-click:"selectNone()" }
                    - trans "None"

          %span.selection-info{ ng-show:"selection.length > 0" }
            [[ selection.length ]] of [[ totalMessages ]] messages selected
          %span.selection-info{ ng-show:"selection.length == 0" }
            [[ totalMessages ]] messages

          .selection-actions.btn-group.pull-away
            .btn-group{ dropdown:"true" }
              %button.btn.btn-default.dropdown-toggle{ type:"button", dropdown-toggle:"true", ng-disabled:"selection.length == 0", tooltip:"Label" }
                %span.glyphicon.glyphicon-tag
                %span.caret
              %ul.dropdown-menu
                %li{ ng-repeat:"label in inactiveLabels" }
                  %a{ href:"#", ng-click:"labelSelection(label.name)" }
                    [[ label.name ]]
            %button.btn.btn-default{ ng-disabled:"selection.length == 0", ng-click:"flagSelection()", type:"button", tooltip:"Flag" }
              %span.glyphicon.glyphicon-flag
            %button.btn.btn-default{ ng-disabled:"selection.length == 0", ng-click:"replyToSelection()", type:"button" }
              - trans "Reply"
            %button.btn.btn-default{ ng-disabled:"selection.length != 1", ng-click:"caseForSelection()", type:"button" }
              - trans "Open Case"
            %button.btn.btn-default{ ng-disabled:"selection.length != 1", ng-click:"forwardSelection()", type:"button" }
              %span.glyphicon.glyphicon-share-alt
              - trans "Forward"
            %button.btn.btn-default{ ng-disabled:"selection.length == 0", ng-click:"archiveSelection()", type:"button" }
              - trans "Archive"

    .messages{ infinite-scroll:"loadOldMessages()", infinite-scroll-disabled:"loadingOld || !hasOlder" }
      .message{ ng-repeat:"message in messages | filter:{ archived: false }", ng-class:"{ flagged: message.flagged }" }
        .message-actions
          %input{ type:"checkbox", ng-model:"message.selected", ng-change:"updateSelection()" }
          %a.flag{ ng-click:"toggleMessageFlag(message)" }
            %span.glyphicon.glyphicon-flag
        .message-time
          [[ message.time | autodate ]]
        .message-text
          %span.label-container{ ng-repeat:"label in filterDisplayLabels(message.labels)" }
            %span.label.label-primary
              [[ label.name ]]
            &nbsp;
          [[ message.text ]]
      .loading{ ng-if:"loadingOld" }
      .none{ ng-hide:"messages.length > 0" }
        - trans "No messages"

    %script{ type:"text/ng-template", id:"replyModal.html" }
      .modal-header
        %h3.modal-title
          - trans "Reply"
        .modal-body
          %p
            - trans "Send the following reply to each contact"
          %textarea.form-control{ ng-model:"text" }
        .modal-footer
          %button.btn.btn-primary{ ng-click:"ok()" }
            - trans "Send"
          %button.btn.btn-default{ ng-click:"cancel()" }
            - trans "Cancel"

    %script{ type:"text/ng-template", id:"composeModal.html" }
      .modal-header
        %h3.modal-title
          [[ title ]]
        .modal-body
          %form
            .form-group
              %label.control-label
                - trans "Recipient"
              .input-group
                .input-group-btn
                  %button.btn.btn-default.dropdown-toggle{ type:"button", data-toggle:"dropdown" }
                    [[ urn_scheme_label ]]
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{ href:"#", ng-click:'setScheme("tel")' }
                        - trans "Phone"
                    %li
                      %a{ href:"#", ng-click:'setScheme("twitter")' }
                        - trans "Twitter"
                %input.form-control{ type:"text", ng-model:"urn_path", style:"width: 300px" }

            .form-group
              %label.control-label{ for:"forward-text" }
                - trans "Message"
              %textarea.form-control{ ng-model:"text", id:"forward-text" }
        .modal-footer
          %button.btn.btn-primary{ ng-click:"ok()" }
            - trans "Send"
          %button.btn.btn-default{ ng-click:"cancel()" }
            - trans "Cancel"

    %script{ type:"text/ng-template", id:"openCaseModal.html" }
      .modal-header
        %h3.modal-title
          - trans "New Case"
        .modal-body
          %p
            - trans "Open a new case for the selected message?"
          - if not request.partner
            .form-group
              %label.control-label{ for:"case-partner" }
                - trans "Assigned to"
              %select.form-control{ ng-model:"assignee", ng-options:"p.name for p in partners track by p.id", id:"case-partner" }
        .modal-footer
          %button.btn.btn-primary{ ng-click:"ok()" }
            - trans "Open"
          %button.btn.btn-default{ ng-click:"cancel()" }
            - trans "Cancel"


- block extra-style
  {{ block.super }}
  :css
    .search-toolbar {
      padding: 4px;
      background-color: #f7f7f7;
    }
    .search-toolbar .group-select {
      width: 500px;
    }
    .selection-toolbar {
      padding: 4px;
      background-color: #F4E4F5;
      border-top: 1px solid #ddd;
    }
    .selection-info {
      display: inline-block;
      padding: 7px 0 0 7px;
    }
    .message {
      padding: 3px;
      border-bottom: 1px solid #eee;
    }
    .message:first-of-type {
      border-top: 1px solid #eee;
    }
    .message .message-actions {
      float: left;
      width: 50px;
    }
    .message .message-actions input[type="checkbox"] {
      width: auto;
      margin-right: 7px;
    }
    .message-time {
      float: right;
      font-size: 0.7em;
      margin-left: 3px;
      margin-bottom: 3px;
    }
    .message-text {
      margin-left: 50px;
    }
    .message .flag {
      color: #ddd;
      cursor: pointer;
    }
    .message.flagged .flag {
      color: #444 !important;
    }

    .modal-body .form-control {
      width: 100%
    }
