- extends "smartmin/read.html"
- load smartmin i18n

- block pre-content

- block content

  %script{ type:"text/javascript" }
    var contextData = {{ context_data_json|safe }};

  .{ ng-controller:"InboxController", ng-init:'init({{ initial_label_id|default:"null" }})' }
    .page-header.clearfix
      %h2.pull-back
        %span{ ng-if:"activeLabel" }
          %span.glyphicon.glyphicon-tag
          &nbsp;
          [[ activeLabel.name ]]
        %span{ ng-if:"!activeLabel" }
          - trans "Inbox"

      .page-header-buttons{ ng-if:"activeLabel" }
        - if org_perms.labels.label_update or org_perms.labels.label_delete
          .btn-group
            - if org_perms.labels.label_update
              %a.btn.btn-default{ ng-href:"'/label/update/[[ activeLabel.id ]]/", tooltip:"Edit Label" }
                %span.glyphicon.glyphicon-pencil
            - if org_perms.labels.label_delete
              %button.btn.btn-default{ ng-click:"deleteLabel()", tooltip:"Delete Label" }
                %span.glyphicon.glyphicon-trash

    .row
      .col-md-2
        .label-menu
          %ul
            %li
              %a{ href:"#", ng-click:"activateLabel(null)" }
                %strong{ ng-if:"!activeLabel" }
                  - trans "Inbox"
                %span{ ng-if:"activeLabel" }
                  - trans "Inbox"
        .label-menu
          %h3
            - trans "Labels"
          %ul
            %li{ ng-repeat:"label in labels" }
              %a{ href:"#", ng-click:"activateLabel(label)" }
                %strong{ ng-if:"label == activeLabel" }
                  [[ label.name ]]
                %span{ ng-if:"label != activeLabel" }
                  [[ label.name ]]
      .col-md-10
        - block label-items

    %script{ type:"text/ng-template", id:"confirmModal.html" }
      .modal-header
        %h3.modal-title
          - trans "Confirm"
        .modal-body
          %span{ ng-bind-html:"prompt" }
        .modal-footer
          %button.btn.btn-danger{ ng-if:"danger", ng-click:"ok()" }
            - trans "OK"
          %button.btn.btn-primary{ ng-if:"!danger", ng-click:"ok()" }
            - trans "OK"
          %button.btn.btn-default{ ng-click:"cancel()" }
            - trans "Cancel"


- block extra-style
  {{ block.super }}
  :css
    .label-menu {
      margin-bottom: 1em;
    }
    .label-menu h3 {
      margin: 0 0 1em 0;
      font-size: 1.2em;
    }
    .label-menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
