language: python
python:
- '2.7'
services:
- redis-server
addons:
  postgresql: '9.3'
sudo: false
cache:
  directories:
  - $HOME/.cache/pip
install:
- pip install --upgrade pip
- pip install -r pip-freeze.txt --upgrade
- pip install coveralls
- npm install less
- npm install coffee-script
before_script:
- psql -U postgres -c "CREATE USER casepro WITH PASSWORD 'nyaruka';"
- psql -U postgres -c "ALTER ROLE casepro WITH SUPERUSER;"
- psql -U temba postgres -c "CREATE DATABASE casepro;"
- ln -s $TRAVIS_BUILD_DIR/casepro/settings.py.dev $TRAVIS_BUILD_DIR/casepro/settings.py
script:
- coverage run --source="." manage.py test casepro/cases casepro/orgs_ext casepro/profiles --verbosity=2 --noinput
after_success:
- coveralls
