.{ ng-mouseenter:"openPopover()", ng-mouseleave:"closePopover()", uib-popover-template:"popoverTemplateUrl", popover-is-open:"popoverIsOpen", popover-append-to-body:"true", popover-placement:"auto bottom-left", popover-title:"[[ contact.display ]]" }
  %span.glyphicon.glyphicon-phone>
  [[ contact.display ]]