-load i18n

.modal-header
  %h3.modal-title
    [[ title ]]
  .modal-body
    %p
      %span{ ng-bind-html:"prompt" }
    .form-group
      %label.control-label
        - trans "Assign to Partner/User"
      %select.form-control{ ng-model:"fields.assignee", ng-options:"p.name for p in partners track by p.id" , ng-change:"refreshUserList()" }
      %select.form-control{ ng-model:"fields.user", ng-options:"u.name for u in users track by u.id", ng-show:"users.length" }
  .modal-footer
    %button.btn.btn-primary{ ng-click:"ok()" }
      - trans "Open"
    %button.btn.btn-default{ ng-click:"cancel()" }
      - trans "Cancel"
