-load i18n

.modal-header
  %h3.modal-title
    - trans "Reply"
  .modal-body{style:"height: 60%",ng-init:'init()'}
    %p
      - trans "Send the following reply to each contact and archive each message. This will remove the messages from your inbox."
    %form{ name:"form", novalidate:"" }
      .form-group
        .well.col-md-12.panel-info.panel-heading
          .col-md-6
            %small
              -trans "Browse by tag"
            .btn-group.btn-group-xs
              %span.btn.btn-primary.btn-sm{ng-repeat:'label in labels',ng-click:'fetchFaqs(label)'}
                  %i.glyphicon.glyphicon-tag
                    [[label.name]]
          .col-md-6
            .input-group
              %input.form-control{ type:"text", placeholder:'Search by keyword',ng-keyup:'fetchFaqs()',ng-model:'search.text' }
              %span.input-group-addon
                %i.glyphicon.glyphicon-search
      .form-group
        %ul.list-group.col-md-12.col-xs-12{style:'overflow-x:auto;max-height:20vh;'}
          %li.text-center{ng-repeat:"reply in replies"}
            %a.small.list-group-item{ng-click:"setResponse(reply.answer)"}
              %b[[reply.question]]
              %p[[reply.answer]]
      .form-group
        %textarea.form-control{ ng-model:"fields.text.val", ng-maxlength:"fields.text.maxLength", name:"text", required:"" ,readonly:""}
            .help-block{ ng-show:"form.text.$error.required && (form.text.$dirty || form.submitted)" }
              - trans "Required"
            .help-block{ ng-show:"form.text.$error.maxlength" }
              - trans "Too long"



  .modal-footer
    %button.btn.btn-primary{ ng-click:"ok()" }
      - trans "Send & Archive"
    %button.btn.btn-default{ ng-click:"cancel()" }
      - trans "Cancel"

