-load i18n

.modal-header
  %h3.modal-title
    - trans "Reply"
  .modal-body{style:"height: 60%",ng-init:'init()'}
    %p
      - trans "Send the following reply to each contact and archive each message. This will remove the messages from your inbox."

    .ul.nav
      .li{ng-repeat:'label in labels',ng-click:'fetchFaqs(label)'}
        %span.btn.label.label-success.col-md-2
          [[label.name]]

    .input-group{ uib-dropdown:"true" }
      %span.input-group-addon{type:'text', id:'faqSearchAddon'}
        %small
          -trans "Frequently Asked"
          %span.glyphicon.glyphicon-question-sign
        %br
      %input.form-control.dropdown-toggle{ type:"text", placeholder:'find faqs for ...',uib-dropdown-toggle:"true" , aria-describedby:'faqSearchAddon',ng-keyup:'fetchFaqs()',ng-model:'search.text' }
        %ul.dropdown-menu.list-group.col-md-12
          %li.list-group-item.text-center{ng-repeat:"reply in replies"}
            %a.small{ng-click:"setResponse(reply.answer)"}
              %b[[reply.question]]
              %br
              [[reply.answer]]

    %span
      -trans "&nbsp"
    %form.col-md-12{ name:"form", novalidate:"" }
      .form-group.col-md-12{ ng-class:'{"has-error": form.text.$invalid && (form.text.$dirty || form.submitted)}' }
        %textarea.form-control.col-md-12{ ng-model:"fields.text.val", ng-maxlength:"fields.text.maxLength", name:"text", required:"" ,readonly:""}
        .help-block{ ng-show:"form.text.$error.required && (form.text.$dirty || form.submitted)" }
          - trans "Required"
        .help-block{ ng-show:"form.text.$error.maxlength" }
          - trans "Too long"



  .modal-footer
    %button.btn.btn-primary{ ng-click:"ok()" }
      - trans "Send & Archive"
    %button.btn.btn-default{ ng-click:"cancel()" }
      - trans "Cancel"

