-load i18n

.modal-header
  %h3.modal-title
    [[ title ]]
  .modal-body
    %p
      %span{ ng-bind-html:"prompt" }

    %form{ name:"form" }
      .form-group{ ng-class:'{"has-error": form.note.$invalid && (form.note.$dirty || form.submitted)}' }
        %label.control-label
          - trans "Note"
        %textarea.form-control{ ng-model:"fields.note.val", ng-maxlength:"fields.note.maxLength", name:"note", required:"" }
        .help-block{ ng-show:"form.note.$error.required && (form.note.$dirty || form.submitted)" }
          - trans "Required"
        .help-block{ ng-show:"form.note.$error.maxlength" }
          - trans "Too long"
  .modal-footer
    %button.btn{ ng-click:"ok()", ng-class:'{ "btn-primary": style == "primary", "btn-danger": style == "danger" }' }
      - trans "OK"
    %button.btn.btn-default{ ng-click:"cancel()" }
      - trans "Cancel"
