-load i18n

.modal-header
  %h3.modal-title
    [[ title ]]
  .modal-body
    %p{ style:"margin-bottom: 1em" }
      %span{ ng-bind-html:"prompt" }
    %form.form-inline{ name:"form" }
      .date-range{ ng-controller:"DateRangeController", ng-init:'init("fields.after", "fields.before")' }
        .form-group{ ng-class:'{"has-error": form.after.$invalid}' }
          %label.control-label{ style:"margin-right: 1em" }
            - trans "From"
          .input-group.date-picker
            %input.form-control{ type:"text", uib-datepicker-popup:"[[ format ]]", ng-model:"fields.after", is-open:"afterOpen", datepicker-options:"afterOptions", name:"after", required:"" }
            %span.input-group-btn
              %button.btn.btn-default{ type:"button", ng-click:"openAfter($event)" }
                %i.glyphicon.glyphicon-calendar
          .help-block{ ng-show:"form.after.$error.required" }
            - trans "Required"
        .form-group{ ng-class:'{"has-error": form.before.$invalid}' }
          %label.control-label{ style:"margin: 0 1em" }
            - trans "Until"
          .input-group.date-picker
            %input.form-control{ type:"text", uib-datepicker-popup:"[[ format ]]", ng-model:"fields.before", is-open:"beforeOpen", datepicker-options:"beforeOptions", name:"before", required:"" }
            %span.input-group-btn
              %button.btn.btn-default{ type:"button", ng-click:"openBefore($event)" }
                %i.glyphicon.glyphicon-calendar
          .help-block{ ng-show:"form.before.$error.required" }
            - trans "Required"
  .modal-footer
    %button.btn.btn-primary{ ng-click:"ok()" }
      - trans "OK"
    %button.btn.btn-default{ ng-click:"cancel()" }
      - trans "Cancel"
