-load i18n

.modal-header.no-border
  %h3.modal-title
    - trans "Reply"

.modal-body{ ng-init:'init({{ user_is_faq_only|yesno:"true,false" }})' }
  %p{ ng-if:'sendToMany' }
    - trans "Send the following reply to the selected message(s). This will remove the message(s) from your inbox to Archived."
  %p{ ng-if:'!sendToMany' }
    - trans "Send the following reply. This will archive this message removing it from your Inbox."

  %p{ ng-if:'faqOnly && replies.length > 0' }
    - trans "Please select one of the following pre-approved replies."
  .alert.alert-danger{ ng-if:'faqOnly && replies.length == 0' }
    - trans "There are no pre-approved replies. Please contact your administrator."
  %p{ ng-if:'!faqOnly && replies.length > 0' }
    - trans "You may select one of the following pre-approved replies or enter a custom message below."

  %form{ name:"form" }
    .form-group{ ng-if:"replies.length > 0" }
      .search-toolbar.clearfix
        .pull-back
          %input.form-control{ type:"text", placeholder:'Label or keyword', ng-model:'searchFaqs', style:"width: 250px" }
        .pull-away
          .btn-group{ uib-dropdown:"true" }
            %button.btn.btn-default.dropdown-toggle{ type:"button", uib-dropdown-toggle:"true" }
              [[lang]]
              %span.caret
            %ul.dropdown-menu
              %li{ ng-repeat:'language in languages' }
                %a{ ng-click:"filterByLanguage(language)" }
                  [[language.name]]

      .{ style:"overflow-y:scroll; max-height:12em;" }
        .stackitem.clearfix.hoverable{ ng-repeat:"reply in replies | filter:searchFaqs", ng-click:"setResponse(reply.answer)" }
          .small
            %span.label-container{ ng-repeat:"label in reply.labels" }
              %span.label.label-success
                [[ label.name ]]
              &nbsp;
            %b[[reply.question]]
            %p.no-margin[[reply.answer]]

    - if user_is_faq_only
      .form-group
        %textarea.form-control{ ng-model:"fields.text.val", ng-maxlength:"{{ max_msg_chars }}", name:"text", required:"", readonly:"" }
    - else
      .form-group.no-margin{ ng-class:'{"has-error": form.text.$invalid && (form.text.$dirty || form.submitted)}' }
        %textarea.form-control{ ng-model:"fields.text.val", ng-maxlength:"{{ max_msg_chars }}", name:"text", required:"", placeholder:'Enter a custom message' }
          .help-block{ ng-show:"form.text.$error.required && (form.text.$dirty || form.submitted)" }
            - trans "Required"
          .help-block{ ng-show:"form.text.$error.maxlength" }
            - trans "Too long"

.modal-footer
  %button.btn.btn-primary{ ng-click:"ok()" }
    - trans "Send & Archive"
  %button.btn.btn-default{ ng-click:"cancel()" }
    - trans "Cancel"
