.contact-popover
  .loading{ ng-if:"!fetched" }
  .{ ng-if:"fetched" }
    .contact-field{ ng-repeat:"field in fields" }
      %strong><
        [[ field.label ]]
      :
      [[ contact.fields[field.key] ]]
