.contact-popover
  .loading{ ng-if:"!fetched" }
  .{ ng-if:"fetched" }
    .contact-field{ ng-repeat:"field in fields" }
      %strong><
        [[ field.label ]]
      :
      <cp-fieldvalue contact="contact" field="field" />
