- extends "smartmin/read.html"
- load smartmin i18n comments

- block content
  .row
    .col-md-8
        Post a message
        {% render_comment_form for request.org %}

        .comments{ ng-controller:"MessageBoardController", ng-init:"init()" }
          .comment.clearfix{ ng-repeat:"comment in comments", ng-class:'{ "even": $even, "odd": !$even }'}
            .event-time
              <cp-date time="comment.submit_date" />
            %span
              %a{ ng-href:"/user/read/[[ comment.user_id ]]/" }
                [[ comment.user_name ]]
              :
            [[ comment.comment ]]
    .col-md-4
      Pinned Messages


- block extra-style
  {{ block.super }}
  :css
    .messages {
      margin: 4px;
      background-color: #ccc;
      border-radius: 5px;
      text-color: #493750;
      width: fit-content;
      padding: 5px;
    }
    .comment {
      font-size: 15px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .user_name {
      font-size: 10px;
      text-align: right;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .comment {
      padding: 12px;
      margin-bottom: 16px;
      margin-left: 180px;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .comment .event-time {
      float: right;
      font-size: 0.7em;
      margin-left: 5px;
      margin-bottom: 5px;
    }
    .comment.odd {
      background-color: #DDFDDD;
      border-color: #D4F3D4;
    }
    .comment.even {
      background-color: #E6FDFB;
      border-color: #D5EBED;
    }
