<div class="modal-header">
  <h3 class="modal-title">[[ title ]]</h3>
</div>

<div class="modal-body">
    <form name="form">
        <div class="form-group" ng-class='{"has-error": form.path.$invalid && (form.path.$dirty || form.submitted)}'>
            <label class="control-label">
                Contact
            </label>
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        [[ urn_scheme_label ]]
                        <span class='caret'></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li> <a ng-click='setScheme("tel")'>Phone</a> </li>
                        <li> <a ng-click='setScheme("twitter")'>Twitter</a> </li>
                        <li> <a ng-click='setScheme("email")'>Email</a> </li>
                    </ul>
                </div>
                <input class="form-control" type="text" ng-model="fields.urn.path" name="path" integer phoneurn required style="width: 300px">
            </div>
            <div class="help-block" ng-show="form.path.$error.required && (form.path.$dirty || form.submitted)">
                Required
            </div>
            <div class="help-block" ng-show="form.path.$error.phoneurn">
                Invalid phone number format. Should be in the format +27741234567
            </div>
        </div>
        <div class="form-group" ng-class='{"has-error": form.text.$invalid && form.submitted}'>
            <label class="control-label">
                Summary
            </label>
            <textarea class="form-control" ng-model="fields.text.val" ng-maxlength="fields.text.maxLength" name="text" required></textarea>
            <div class="help-block" ng-show="form.text.$error.required && form.submitted">
                Required
            </div>
            <div class="help-block" ng-show="form.text.$error.maxlength && form.submitted">
                Too long
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">
                Assign to Partner
            </label>
            <select class="form-control" ng-model="fields.partner.val" ng-options="p.name for p in fields.partner.choices track by p.id" ng-change="refreshUserList()"> </select>
        </div>
        <div class="form-group">
            <label class="control-label">
                Specific User (Optional)
            </label>
            <select class="form-control" ng-model="fields.user.val" ng-options="u.name for u in fields.user.choices track by u.id"></select>
        </div>
    </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary btn-modal-accept" ng-click="ok()">Open</button>
  <button class="btn btn-default btn-modal-cancel" ng-click="cancel()">Cancel</button>
</div>
