- extends "smartmin/list.html"
- load smartmin i18n

- block pre-content
  .page-header
    %h2
      - trans "FAQs"

- block table-controls
  .clearfix
    .pull-away.buttons
    %a.btn.btn-default.pull-right{ href:"{% url 'msgs.faq_create' %}" }
      %span.glyphicon.glyphicon-plus
      - trans "Add"
    %a.btn.btn-default.pull-right{ href:"{% url 'msgs.faq_import' %}" }
      %span.glyphicon.glyphicon-plus
      - trans "Batch Upload"
