- extends "smartmin/read.html"
- load smartmin i18n

- block pre-content

  %script{ type:"text/javascript" }
    var contextData = {{ context_data_json|safe }};

  .ng-cloak{ ng-controller:"LanguageController", ng-cloak:"" }
    .page-header.clearfix
      .page-header-buttons
        - if edit_button_url
          .btn-group
            %a.btn.btn-default{ href:"{{ edit_button_url }}", tooltip:"Edit Language" }
              %i.glyphicon.glyphicon-pencil
            - if can_delete
              %a.btn.btn-default{ ng-click:"onDeleteLanguage()", tooltip:"Delete Language" }
                %i.glyphicon.glyphicon-trash

      %h2
        Language Details

- block read-buttons
