- load i18n

%script{ type:"text/ng-template", id:"confirmModal.html" }
  .modal-header
    %h3.modal-title
      - trans "Confirm"
    .modal-body
      %span{ ng-bind-html:"prompt" }
    .modal-footer
      %button.btn.btn-danger{ ng-if:"danger", ng-click:"ok()" }
        - trans "OK"
      %button.btn.btn-primary{ ng-if:"!danger", ng-click:"ok()" }
        - trans "OK"
      %button.btn.btn-default{ ng-click:"cancel()" }
        - trans "Cancel"