<!doctype html>
-load compress thumbnail smartmin i18n
%html(dir="{{ lang_direction }}" ng-app="cases")

  %head
    %meta(charset="utf-8")
    %title
      -block title
        -if not org
          -trans "CasePro"
        -else
          {{ org.name }}
      -block subtitle
        &nbsp;
    %meta(name="description" content="")
    %meta(name="author" content="")

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    %link(rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.png")

    :css
    -compress css
      -block styles
        %link(type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css")
        %link(type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/smartmin_styles.css")
        %link(type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/select.min.css")
        %link(type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/cases.less")

    -block extra-less
    -block extra-style


  %body.pattern-bg
    -block navbar
      %header#admin-navbar.navbar.navbar-static-top(role="banner")
        .container
          .navbar-header
            %button.navbar-toggle{ type:"button", data-toggle:"collapse", data-target:"#admin-top-navbar-collapse"}
              %span.sr-only
                - trans "Toggle navigation"
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

          %a#admin-brand.navbar-brand{ href:"/" }
            - if org and org.logo
              {% thumbnail org.logo "x50" format="PNG" as im %}
              %img.logo{ src:"{{ im.url }}", alt:"{{ org.name }}"}
              {% endthumbnail %}
            - else
              .{ style:"padding: 15px" }
                - if org
                  {{ org.name }}
                - else
                  - trans "CasePro"

          %nav#admin-top-navbar-collapse.admin-top-navbar.collapse.navbar-collapse{ role:"navigation"}
            %ul.nav.navbar-nav
              - if not request.org
                - if request.user.is_superuser
                  %li.dropdown
                    %a.dropdown-toggle{href:"#", data-toggle:"dropdown"}
                      - trans "Site Manage"
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{ href:"{% url 'orgs_ext.org_list' %}" }
                          - trans "Orgs"
                      %li
                        %a{ href:"{% url 'orgs_ext.task_list' %}" }
                          - trans "Tasks"

              - else
                - if request.user.is_superuser or org_perms.orgs.org_home or org_perms.msgs.faq_list or org_perms.cases.group_list
                  %li.dropdown
                    %a.dropdown-toggle{href:"#", data-toggle:"dropdown"}
                      - trans "Administration"
                      %b.caret
                    %ul.dropdown-menu
                      - if perms.msgs.faq_list or org_perms.msgs.faq_list
                        %li
                          %a{ href:"{% url 'msgs.faq_list' %}" }
                            - trans "FAQs"

                      - if perms.contacts.group_list or org_perms.contacts.group_list
                        %li
                          %a{ href:"{% url 'contacts.group_list' %}" }
                            - trans "Groups"

                - if perms.orgs.org_inbox or org_perms.orgs.org_inbox
                  %li
                    %a{ href:"{% url 'cases.inbox' %}" }
                      - trans "Inbox"

                - if perms.orgs.org_home or org_perms.orgs.org_home
                  %li
                    %a{ href:"{% url 'orgs_ext.org_home' %}" }
                      - trans "Organization"

                - if user_partner
                  %li
                    %a{ href:"{% url 'cases.partner_read' user_partner.pk %}" }
                      - trans "Organization"

                - if perms.cases.partner_list or org_perms.cases.partner_list
                  %li
                    %a{ href:"{% url 'cases.partner_list' %}" }
                      - trans "Partners"

                - if perms.msg_board.messageboardcomment_list or org_perms.msg_board.messageboardcomment_list
                  %li
                    %a{ href:"{% url 'msg_board.comment_list' %}" }
                      - trans "Message Board"

            %ul.nav.navbar-nav.navbar-right
              - block login
                - if request.user and request.user.is_authenticated
                  %li.dropdown
                    %a.dropdown-toggle{href:"#", data-toggle:"dropdown"}
                      {{ request.user.email|default:request.user.username }}
                      %b.caret
                    %ul.dropdown-menu
                      - if request.user.profile
                        %li
                          %a{ href:"{% url 'profiles.user_read' request.user.pk %}" }
                            %span.glyphicon.glyphicon-user
                            - trans "Profile"
                      %li
                        %a{ href:"{% url 'users.user_logout' %}?go=/"}
                          %span.glyphicon.glyphicon-log-out
                          - trans "Logout"

                - else
                  %li
                    %a{ href:"{% url 'users.user_login' %}"}
                      %span.glyphicon.glyphicon-log-in
                      - trans "Login"

    .container
      - block content-div
        .content
          - block messages
            - if messages
              - for message in messages
                .alert{ class:"alert-#{ message.tags }"}
                  %a.close{ data-dismiss:"alert"}
                    ×
                  {{ message }}

          - block pre-content
          - block content

    .footer-container
      .container
        %footer
          //{% include 'lang_switcher.haml' %}

    <!-- JavaScript at the bottom for fast page loading -->
    %script(type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.3.min.js")
    %script(type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js")

    %script(type="text/javascript" src="{{ STATIC_URL }}js/angular-1.4.14/angular.min.js")
    %script(type="text/javascript" src="{{ STATIC_URL }}js/angular-1.4.14/angular-sanitize.min.js")
    %script(type="text/javascript" src="{{ STATIC_URL }}js/angular-1.4.14/angular-animate.min.js")
    %script(type="text/javascript" src="{{ STATIC_URL }}js/ui-bootstrap-tpls-1.3.3.min.js")
    %script(type="text/javascript" src="{{ STATIC_URL }}js/ng-infinite-scroll.min.js")
    %script(type="text/javascript" src="{{ STATIC_URL }}js/select.min.js")
    %script(type="text/javascript" src="{{ STATIC_URL }}js/raven.min.js")
    %script(type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js")
    %script(type="text/javascript" src="{{ STATIC_URL }}js/libphonenumber.min.js")

    {% compress js %}
    %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/utils.coffee")
    %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/app.coffee")
    %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/services.coffee")
    %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/controllers.coffee")
    %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/modals.coffee")
    %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/filters.coffee")
    %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/directives.coffee")
    {% endcompress %}

    <script type="text/javascript">
      {% if sentry_public_dsn %}Raven.config('{{ sentry_public_dsn }}', {}).install();{% endif %}

      var serverTime = new Date({{ server_time }});
    </script>

    :javascript
      $(function(){
        /* TODO figure out conflict with Angular that's breaking all submit buttons */
        $('button[type="submit"]').on('click', function() {
          $(this).closest('form').submit();
        });
      });

      function displayAlert(type, text) {
        $('.content').prepend('<div class="alert alert-' + type + '"><a class="close" data-dismiss="alert">×</a>' + text + '</div>');
      }

      /* Set HighCharts theme and localization */
      Highcharts.setOptions({
        chart: {
          style: {
            fontFamily: "'Helvetica Neue', Helvetica, Arial, sans-serif"
          }
        },
        title: {
          style: {
             color: '#333',
             fontFamily: "'Helvetica Neue', Helvetica, Arial, sans-serif"
          }
        },
        plotOptions: {
          pie: {
            dataLabels: {
              style: {
                color: '#333',
                fontFamily: "'Helvetica Neue', Helvetica, Arial, sans-serif"
              }
            }
          }
        },
        lang: {thousandsSep: ','},
        credits: {enabled: false}
      });

    {# media associated with any form we are displaying #}
    {% if form %}
    {{ form.media }}
    {% endif %}

    {% block extra-script %}{% endblock %}
    {% block script %}{% endblock %}
