- extends "smartmin/read.html"
- load compress smartmin i18n

- block pre-content

- block content
  {{ context_data_json|json_script:"contextData" }}

  %script(type="text/javascript")
    var contextData = JSON.parse(document.getElementById('contextData').textContent);

  .ng-cloak{ ng-controller:"CaseController", ng-init:"init({{ object.pk }}, {{ max_msg_chars }})", ng-cloak:"" }
    .page-header
      - if alert == 'open_found_existing'
        .alert.alert-info{ ng-if:"caseObj.is_closed" }
          - trans "Could not open new case as message was already handled by this case"
        .alert.alert-info{ ng-if:"!caseObj.is_closed" }
          - trans "Could not open new case as contact already has this open case"

      .clearfix
        %h2.pull-back
          %i.glyphicon{ ng-class:'{ "glyphicon-folder-close": caseObj.is_closed, "glyphicon-folder-open": !caseObj.is_closed }' }
          &nbsp;
          Case \#{{ object.pk }}

        .page-header-buttons
          .btn-group
            %button.btn.btn-default{ type:"button", ng-if:"!caseObj.watching", ng-click:"onWatch()" }
              %i.glyphicon.glyphicon-eye-open
              - trans "Watch"
            %button.btn.btn-default{ type:"button", ng-if:"caseObj.watching", ng-click:"onUnwatch()" }
              %i.glyphicon.glyphicon-eye-close
              - trans "Unwatch"
            %button.btn.btn-default{ type:"button", ng-if:"!caseObj.is_closed", ng-click:"onAddNote()" }
              - trans "Add Note"
            - if can_update
              %button.btn.btn-default{ type:"button", ng-if:"!caseObj.is_closed", ng-click:"onReassign()" }
                - trans "Re-assign"
              %button.btn.btn-default{ type:"button", ng-if:"!caseObj.is_closed", ng-click:"onClose()" }
                - trans "Close"
              %button.btn.btn-default{ type:"button", ng-if:"caseObj.is_closed && caseObj.contact", ng-click:"onReopen()" }
                - trans "Re-open"

      %ul.header-details
        %li
          %strong><
            - trans "Assignee"
          \:
          %a{ ng-href:"/partner/read/[[ caseObj.assignee.id ]]/" }
            [[ caseObj.assignee.name ]]
          %span{ ng-if:"caseObj.user_assignee" }
            (
            %a{ ng-href:"/user/read/[[ caseObj.user_assignee.id ]]/" }><
              [[ caseObj.user_assignee.name ]]
            )
        %li
          %strong><
            - trans "Status"
          \:
          [[ caseObj.is_closed ? "Closed" : "Open" ]]
        %li
          %strong><
            - trans "Labels"
          \:
          %span.label-container{ ng-repeat:"label in caseObj.labels" }
            %span.label.label-success
              [[ label.name ]]
            &nbsp;

          %a{ href:"#", ng-click:"onEditLabels()", style:"color: #AAA" }
            %span.glyphicon.glyphicon-edit

    .row
      .col-md-8
        %form.sendform{ ng-if:"!caseObj.is_closed" }
          // TODO maxlength not working
          %textarea.form-control{ type:"text", autocomplete:"off", placeholder:"Enter message", ng-maxlength:"{{ maxMsgChars }}", ng-model:"$parent.newMessage", ng-disabled:"sending", ng-change:"onNewMessageChanged()", ng-trim:"false" }
          .sendform-controls.clearfix
            %button.btn.btn-default.pull-right{ type:"button", ng-click:"sendMessage()", ng-disabled:"sending || $parent.newMessage.length == 0 || msgCharsRemaining < 0" }
              - trans "Send"
            %span.pull-right.chars-left
              [[ msgCharsRemaining ]]

        .timeline{ ng-controller:"CaseTimelineController", ng-init:"init()" }
          .timeline-event.clearfix{ ng-repeat:"event in timeline | reverse", ng-class:'{ "timeline-action": (event.type == "A"), "timeline-incoming": (event.type == "I"), "timeline-outgoing": (event.type == "O") }' }
            .event-time
              %cp-date{ time:"event.time" }

            .{ ng-if:'event.type == "A"' }
              %a{ ng-href:"/user/read/[[ event.item.created_by.id ]]/" }
                [[ event.item.created_by.name ]]

              %span{ ng-if:'event.item.action == "O"' }
                opened this case and assigned it to
                %a{ ng-href:"/partner/read/[[ event.item.assignee.id ]]/" }
                  [[ event.item.assignee.name ]]
                %span{ ng-if:"event.item.user_assignee" }
                  (
                  %a{ ng-href:"/user/read/[[ event.item.user_assignee.id ]]/" }><
                    [[ event.item.user_assignee.name ]]
                  )

              %span{ ng-if:'event.item.action == "S"' }
                changed the summary

              %span{ ng-if:'event.item.action == "N"' }
                added a note

              %span{ ng-if:'event.item.action == "L"' }
                added the label
                  %em
                    [[ event.item.label.name ]]

              %span{ ng-if:'event.item.action == "U"' }
                removed the label
                  %em
                    [[ event.item.label.name ]]

              %span{ ng-if:'event.item.action == "A"' }
                re-assigned this case to
                %a{ ng-href:"/partner/read/[[ event.item.assignee.id ]]/" }
                  [[ event.item.assignee.name ]]
                %span{ ng-if:"event.item.user_assignee" }
                  (
                  %a{ ng-href:"/user/read/[[ event.item.user_assignee.id ]]/" }><
                    [[ event.item.user_assignee.name ]]
                  )

              %span{ ng-if:'event.item.action == "C"' }
                closed this case

              %span{ ng-if:'event.item.action == "R"' }
                re-opened this case

              .action-note{ ng-if:"event.item.note" }
                [[ event.item.note ]]

            .{ ng-if:'event.type == "I"' }
              [[ event.item.text ]]

            .{ ng-if:'event.type == "O"' }
              %span{ ng-if:"event.item.sender" }
                %a{ ng-href:"/user/read/[[ event.item.sender.id ]]/" }><
                  [[ event.item.sender.name ]]
                \:
              [[ event.item.text ]]
      .col-md-4
        .panel.panel-default
          .panel-heading
            - if can_update
              .pull-away
                %a{ href:"#", ng-click:"onEditSummary()", style:"color: #AAA" }
                  %i.glyphicon.glyphicon-edit
            - trans "Summary"
          .panel-body
            [[ caseObj.summary ]]

        .panel.panel-default{ ng-if:"contact" }
          .panel-heading
            - trans "Contact"
          .panel-body
            .container-fluid
              .row{ ng-if:"contact.name" }
                .contact-field-label.col-sm-6
                  - trans "Name"
                .contact-field-value.col-sm-6
                  [[ contact.name ]]
              .row{ ng-repeat:"urn in contact.urns" }
                .contact-field-label.col-sm-6
                  [[ urn.scheme ]]
                .contact-field-value.col-sm-6
                  [[ urn.path ]]
              .row{ ng-if:"contact.language" }
                .contact-field-label.col-sm-6
                  - trans "Language"
                .contact-field-value.col-sm-6
                  [[ contact.language.name ]]
              .row{ ng-repeat:"field in fields" }
                .contact-field-label.col-sm-6
                  [[ field.label ]]
                .contact-field-value.col-sm-6
                  %cp-fieldvalue{ contact:"contact", field:"field" }
              .row{ ng-if:"contact.blocked || contact.stopped" }
                .contact-field-label.col-sm-6
                  - trans "Status"
                .contact-field-value.col-sm-6
                  %span.label-container{ ng-if:"contact.blocked" }
                    %span.label.label-danger
                      - trans "Blocked"
                    &nbsp;
                  %span.label-container{ ng-if:"contact.stopped" }
                    %span.label.label-danger
                      - trans "Stopped"
                    &nbsp;
          .list-group
            %a.list-group-item.centered{ ng-href:"/contact/read/[[ caseObj.contact.id ]]/" }
              %span.text-primary
                - trans "View"

- block extra-script
  {{ block.super }}

- block extra-style
  {{ block.super }}

  :css
    .sendform {
      text-align: center;
      padding-bottom: 1em;
    }
    .sendform textarea {
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .sendform-controls {
      background-color: #F3F3F3;
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: #CCC;
      border-radius: 0 0 4px 4px;
    }
    .sendform-controls .chars-left {
      padding: 6px 12px;
      display: inline-block;
      color: #888;
    }
    .sendform-controls button {
      border-bottom: none;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .timeline-event {
      padding: 12px;
      margin-bottom: 16px;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .timeline-action {
      background-color: #FDEECF;
      border-color: #F0E1C4;
    }
    .timeline-incoming {
      margin-right: 180px;
      background-color: #DDFDDD;
      border-color: #D4F3D4;
    }
    .timeline-outgoing {
      margin-left: 180px;
      background-color: #E6FDFB;
      border-color: #D5EBED;
    }
    .timeline-event .event-time {
      float: right;
      font-size: 0.7em;
      margin-left: 5px;
      margin-bottom: 5px;
    }
    .timeline-event .action-note {
      padding: 0.5em 0 0 2em;
      font-style: italic;
    }
    .contact-field-label {
      font-weight: bold;
    }
