- extends "cases/home_base.html"
- load smartmin i18n

- block home-items
  .{ ng-controller:"CasesController", ng-init:'init("{{ case_status }}")' }

    .search-toolbar{ ng-show:"!activeContact" }
      .row
        .col-md-12
          %form.form-inline
            %label
              - trans "Assigned to"
            %select.form-control.assignee-select{ ng-model:"searchFields.assignee", ng-options:"p.name for p in partners track by p.id" }
            .pull-away
              %button.btn.btn-default{ type:"button", ng-click:"onSearch()" }
                %span.glyphicon.glyphicon-search
                - trans "Search"

    .selection-toolbar
      .row
        .col-md-12
          .selection-controls.pull-back
            .btn-group{ dropdown:"true" }
              %button.btn.btn-default.dropdown-toggle{ type:"button", dropdown-toggle:"true" }
                - trans "Select"
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{ href:"#", ng-click:"onSelectAll()" }
                    - trans "All"
                %li
                  %a{ href:"#", ng-click:"onSelectNone()" }
                    - trans "None"

          %span.selection-info{ ng-show:"selection.length > 0" }
            [[ selection.length ]] of [[ totalItems() ]] cases selected
          %span.selection-info{ ng-show:"selection.length == 0" }
            [[ totalItems() ]] cases

          .selection-actions.btn-group.pull-away
            %button.btn.btn-default{ ng-disabled:"selection.length == 0", ng-click:"closeSelection()", type:"button" }
              - trans "Close"

    .cases{ infinite-scroll:"loadOldItems()", infinite-scroll-disabled:"oldItemsLoading || !oldItemsMore" }
      .stackitem.clearfix{ ng-repeat:"item in items" }
        .case-actions
          %input{ type:"checkbox", ng-model:"item.selected", ng-change:"onChangeSelection()" }
        .case-time
          [[ item.opened_on | autodate ]]
        .case-assignee
          [[ item.assignee.name ]]
        .case-text
          %span.label-container{ ng-repeat:"label in filterDisplayLabels(item.labels)" }
            %span.label.label-success
              [[ label.name ]]
            &nbsp;
          %a{ ng-href:"/case/read/[[ item.id ]]/" }
            [[ item.summary ]]
      .loading{ ng-if:"oldItemsLoading" }
      .none{ ng-hide:"items.length > 0" }
        - trans "No cases"

- block extra-style
  {{ block.super }}
  :css
    .search-toolbar .assignee-select {
      width: 250px;
    }
    .case-actions {
      float: left;
      width: 25px;
    }
    .case-actions input[type="checkbox"] {
      width: auto;
      margin-right: 7px;
    }
    .case-time {
      float: right;
      font-size: 0.7em;
      margin-left: 3px;
      margin-bottom: 3px;
    }
    .case-assignee {
      float: left;
      width: 200px;
    }
    .case-text {
      margin-left: 225px;
    }

