- extends "smartmin/read.html"
- load smartmin i18n utils

- block pre-content

  - if banner_text
    .well.well-sm.banner
      %span.glyphicon.glyphicon-info-sign
      .banner-text
        {{ banner_text }}

- block content

  - include 'common_dialogs.haml'

  %script{ type:"text/javascript" }
    var contextData = {{ context_data_json|safe }};

  .ng-cloak{ ng-controller:"HomeController", ng-init:'init("{{ item_view }}")', ng-cloak:"" }
    .page-header.clearfix
      %h2.pull-back
        %span{ class:'glyphicon {{ folder_icon }}' }
        &nbsp;
        {{ title }}

      .page-header-buttons{ ng-if:"activeLabel" }
        .label-name
          %span.glyphicon.glyphicon-tag
          &nbsp;
          [[ activeLabel.name ]]
        - if org_perms.cases.label_update or org_perms.cases.label_delete
          .btn-group
            - if org_perms.cases.label_update
              %a.btn.btn-default{ ng-href:"/label/update/[[ activeLabel.id ]]/", tooltip:"Edit Label" }
                %span.glyphicon.glyphicon-pencil
            - if org_perms.cases.label_delete
              %button.btn.btn-default{ ng-click:"onDeleteLabel()", tooltip:"Delete Label" }
                %span.glyphicon.glyphicon-trash

    .row
      .col-md-2
        %ul.nav.nav-pills.nav-stacked.home-menu
          %li{ class:"{% if_url 'cases.inbox' 'active' '' %}" }
            %a{ href:"{% url 'cases.inbox' %}" }
              - trans "Inbox"
          %li{ class:"{% if_url 'cases.flagged' 'active' '' %}" }
            %a{ href:"{% url 'cases.flagged' %}" }
              - trans "Flagged"
          %li{ class:"{% if_url 'cases.open' 'active' '' %}" }
            %a{ href:"{% url 'cases.open' %}" }
              - trans "Open"
          %li{ class:"{% if_url 'cases.closed' 'active' '' %}" }
            %a{ href:"{% url 'cases.closed' %}" }
              - trans "Closed"
          %li{ class:"{% if_url 'cases.archived' 'active' '' %}" }
            %a{ href:"{% url 'cases.archived' %}" }
              - trans "Archived"

        .label-menu
          %h3
            %span.glyphicon.glyphicon-tags
            &nbsp
            - trans "Labels"
          %ul
            %li
              %a{ ng-href:"#?label=", class:"italicized" }
                %strong{ ng-if:"!activeLabel" }
                  All
                %span{ ng-if:"activeLabel" }
                  All
            %li{ ng-repeat:"label in labels" }
              %a{ ng-href:"#?label=[[ label.name ]]" }
                %strong{ ng-if:"label == activeLabel" }
                  [[ label.name ]] ([[ label.count ]])
                %span{ ng-if:"label != activeLabel" }
                  [[ label.name ]] ([[ label.count ]])
      .col-md-10
        - block home-items


- block extra-style
  {{ block.super }}
  :css
    .banner {
      margin-bottom: 0;
    }
    .banner .glyphicon {
      color: #999;
      float: left;
      font-size: 20px;
    }
    .banner .banner-text {
      margin-left: 32px;
    }
    .home-menu > li > a {
      padding: 7px 12px;
    }
    .label-name {
      font-size: 20px;
      display: inline-block;
      padding: 3px 12px 3px 0;
    }
    .label-menu {
      margin: 0.5em 0;
      padding: 0.5em 0;
    }
    .label-menu h3 {
      margin: 0 0 1em 0;
      font-size: 1.2em;
    }
    .label-menu ul {
      margin: 0;
      padding: 0 0 0 12px;
      list-style: none;
    }
    .search-toolbar, .contact-toolbar {
      padding: 4px;
      background-color: #f7f7f7;
    }
    .selection-toolbar {
      padding: 4px;
      background-color: #F4E4F5;
      border-top: 1px solid #ddd;
    }
    .selection-info, .contact-info {
      display: inline-block;
      padding: 7px 0 0 7px;
    }
