- extends "cases/home_base.html"
- load smartmin i18n

- block home-items
  .{ ng-controller:"OutgoingController", ng-init:"init()" }

    .contact-toolbar{ ng-if:"activeContact" }
      .row
        .col-md-12
          %span.contact-info
            Messages for contact
            %strong
              [[ activeContact.uuid | limitTo:6 | uppercase ]]

            - if user_is_admin
              &nbsp;
              %a{ ng-href:'[[ "{{ contact_ext_url }}" | replace:"{}":activeContact.uuid ]]', target:"_blank" }
                %span.glyphicon.glyphicon-new-window
                - trans "View"
          .pull-away
            %button.btn.btn-default{ type:"button", ng-click:"activateContact(null)" }
              - trans "Back"

    .search-toolbar{ ng-if:"!activeContact" }
      %form.clearfix
        .btn-group.pull-away
          %button.btn.btn-default{ type:"button", ng-click:"onSearch()" }
            %span.glyphicon.glyphicon-search
            - trans "Search"

        %input.form-control{ ng-model:"searchFields.text", type:"text", placeholder:"Search", style:"width: 400px" }

    .messages{ infinite-scroll:"loadOldItems(false)", infinite-scroll-disabled:"!isInfiniteScrollEnabled()" }
      .stackitem.clearfix.hoverable{ ng-repeat:"item in items | filter: getItemFilter()" }
        .message-time
          [[ item.time | autodate ]]
        .message-sender
          .{ ng-if:"item.contact" }
            %a{ ng-click:"activateContact(item.contact)", title:"View all to contact" }><
              %span.glyphicon.glyphicon-phone>
              [[ item.contact.uuid | limitTo:6 | uppercase ]]
          .{ ng-if:"item.urns.length" }
            <ng-pluralize count="item.urns.length" when="{'one': '1 recipient', 'other': '{} recipients'}">
            </ng-pluralize>
          from&nbsp;
          %a{ ng-href:"/user/read/[[ item.sender.id ]]/" }><
            [[ item.sender.name ]]

        .message-text
          %span.label-container{ ng-if:"item.case" }
            %span.label.label-warning
              [[ item.case.assignee.name ]]
            &nbsp;
          [[ item.text ]]

      .loading{ ng-if:"oldItemsLoading" }
      .none{ ng-hide:"oldItemsLoading || items.length > 0" }
        - trans "No messages"
      .none{ ng-hide:"oldItemsLoading || !hasTooManyItemsToDisplay()" }
        - trans "Search returned more items than can be displayed"

- block extra-style
  {{ block.super }}
  :css
    .message-time {
      float: right;
      font-size: 0.7em;
      margin-left: 3px;
      margin-bottom: 3px;
    }
    .message-sender {
      float: left;
      width: 145px;
    }
    .message-text {
      margin-left: 150px;
    }
