- extends "cases/inbox_base.html"
- load smartmin i18n

- block home-items
  .{ ng-controller:"CasesController", ng-init:"init()" }

    .search-toolbar
      .row
        .col-md-12
          %form.form-inline
            %label
              - trans "Assigned to"
            %select.form-control.assignee-select{ ng-model:"searchFields.assignee", ng-options:"p.name for p in partners track by p.id" }
              %option{ value:"" }
                - trans "Anyone"
            .btn-group.pull-away
              %button.btn.btn-default{ type:"button", ng-click:"onSearch()" }
                %span.glyphicon.glyphicon-search
                - trans "Search"
              %button.btn.btn-default{ type:"button", ng-click:"onExportSearch()", tooltip:"Save as Excel" }
                %span.glyphicon.glyphicon-save

    .cases{ infinite-scroll:"loadOldItems(false)", infinite-scroll-disabled:"!isInfiniteScrollEnabled()" }
      .stackitem.clearfix.hoverable{ ng-repeat:"item in items | filter: getItemFilter()", ng-click:"onClickCase(item)" }
        .case-time
          <cp-tooltip display-text="[[ item.opened_on | autodate]]" tooltip-text="[[ item.opened_on | fulldate ]]" position="top-right"><cp-tooltip>
        .case-text
          %span.label-container
            %span.label.label-warning
              [[ item.assignee.name ]]
            &nbsp;
          %span.label-container{ ng-repeat:"label in filterDisplayLabels(item.labels)" }
            %span.label.label-success
              [[ label.name ]]
            &nbsp;
          [[ item.summary ]]

      .loading{ ng-if:"oldItemsLoading" }
      .none{ ng-hide:"oldItemsLoading || items.length > 0" }
        - trans "No cases"
      .none{ ng-hide:"oldItemsLoading || !hasTooManyItemsToDisplay()" }
        - trans "Search returned more items than can be displayed"

- block extra-style
  {{ block.super }}
  :css
    .search-toolbar .assignee-select {
      width: 250px;
    }
    .case-time {
      float: right;
      font-size: 0.7em;
      margin-left: 3px;
      margin-bottom: 3px;
    }
