- extends "cases/inbox_base.html"
- load smartmin i18n

- block home-items
  .{ ng-controller:"MessagesController", ng-init:"init()" }
    .contact-toolbar{ ng-if:"activeContact" }
      .row
        .col-md-12
          %span.contact-info
            Messages for contact
            %strong
              [[ activeContact.display ]]
          .pull-away
            .btn-group
              - if user_is_admin
                %a.btn.btn-default{ type:"button", ng-href:"/contact/read/[[ activeContact.id ]]/" }
                  - trans "View Contact"
              %button.btn.btn-default{ type:"button", ng-click:"activateContact(null)" }
                - trans "Back"

    .search-toolbar{ ng-if:"!activeContact" }
      .search-form-simple{ ng-if:"!advancedSearch" }
        %form.clearfix
          .btn-group.pull-away
            // TODO figure out why form is double-submitted when this is moved to ng-submit on the form. jQuery conflict?
            %button.btn.btn-default{ type:"button", ng-click:"onSearch()" }
              %i.glyphicon.glyphicon-search
              - trans "Search"
            %button.btn.btn-default{ type:"button", ng-click:"setAdvancedSearch(true)" }
              - trans "Advanced..."
            %button.btn.btn-default{ type:"button", ng-click:"onExportSearch()", tooltip:"Save as Excel" }
              %i.glyphicon.glyphicon-save

          %span{ ng-if:'folder != "flagged"' }
            %input.form-control{ ng-model:"searchFields.text", type:"text", placeholder:"Search", style:"width: 400px" }
          %span{ ng-if:'folder == "flagged"' }
            %input.form-control{ ng-model:"searchFields.text", type:"text", placeholder:"Search", style:"width: 300px; display: inline-block" }
            %input{ type:"checkbox", ng-model:"searchFields.archived" }
            - trans "include archived"

      .search-form-advanced{ ng-if:"advancedSearch" }
        %form.form-horizontal
          .btn-group.pull-away
            // TODO figure out why form is double-submitted when this is moved to ng-submit on the form. jQuery conflict?
            %button.btn.btn-default{ type:"button", ng-click:"onSearch()" }
              %i.glyphicon.glyphicon-search
              - trans "Search"
            %button.btn.btn-default{ type:"button", ng-click:"onResetSearch()" }
              - trans "Clear"
            %button.btn.btn-default{ type:"button", ng-click:"onExportSearch()", tooltip:"Save as Excel" }
              %i.glyphicon.glyphicon-save

          .form-group
            %label.control-label.col-sm-2
              - trans "Containing"
            .col-sm-6
              %input.form-control{ ng-model:"searchFields.text", type:"text", placeholder:"Search text", style:"width: 250px" }

          .form-group
            %label.control-label.col-sm-2
              - trans "When"
            .col-sm-10
              %span.date-range{ ng-controller:"DateRangeController", ng-init:'init("searchFields.after", "searchFields.before")' }
                .input-group.date-picker
                  %input.form-control{ type:"text", uib-datepicker-popup:"[[ format ]]", ng-model:"searchFields.after", is-open:"afterOpen", datepicker-options:"afterOptions" }
                  %span.input-group-btn
                    %button.btn.btn-default{ type:"button", ng-click:"openAfter($event)" }
                      %i.glyphicon.glyphicon-calendar
                %label.control-label
                  - trans "Until"
                .input-group.date-picker
                  %input.form-control{ type:"text", uib-datepicker-popup:"[[ format ]]", ng-model:"searchFields.before", is-open:"beforeOpen", datepicker-options:"beforeOptions" }
                  %span.input-group-btn
                    %button.btn.btn-default{ type:"button", ng-click:"openBefore($event)" }
                      %i.glyphicon.glyphicon-calendar
          .form-group{ ng-if:'folder == "flagged"' }
            %label.control-label.col-sm-2
              - trans "Include archived"
            .col-sm-10{ style:"padding-top: 4px" }
              %input{ type:"checkbox", ng-model:"searchFields.archived" }

    .selection-toolbar
      .row
        .col-md-12
          .selection-controls.pull-back
            .btn-group{ uib-dropdown:"true" }
              %button.btn.btn-default.dropdown-toggle{ type:"button", uib-dropdown-toggle:"true" }
                - trans "Select"
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{ ng-click:"onSelectAll()" }
                    - trans "All"
                %li
                  %a{ ng-click:"onSelectNone()" }
                    - trans "None"

          %span.selection-info{ ng-show:"selection.length > 0" }
            %ng-pluralize{ count:"selection.length", when:'{"one": "1 message selected", "other": "{} messages selected"}' }

          .selection-actions.pull-away
            .btn-group{ ng-if:'folder != "archived"' }
              .btn-group{ uib-dropdown:"true" }
                %button.btn.btn-default.dropdown-toggle{ type:"button", uib-dropdown-toggle:"true", ng-disabled:"selection.length == 0", tooltip:"Label" }
                  %i.glyphicon.glyphicon-tag
                  %span.caret
                %ul.dropdown-menu
                  %li{ ng-repeat:"label in inactiveLabels" }
                    %a{ ng-click:"onLabelSelection(label)" }
                      [[ label.name ]]
              %button.btn.btn-default{ ng-disabled:"selection.length == 0", ng-if:'folder != "flagged"', ng-click:"onFlagSelection()", type:"button", tooltip:"Flag" }
                %i.glyphicon.glyphicon-flag
              %button.btn.btn-default{ ng-disabled:"selection.length == 0", ng-click:"onReplyToSelection()", type:"button" }
                - trans "Reply"
              %button.btn.btn-default{ ng-disabled:"selection.length == 0", ng-click:"onArchiveSelection()", type:"button" }
                - trans "Archive"
            .btn-group{ ng-if:'folder == "archived"' }
              %button.btn.btn-default{ ng-disabled:"selection.length == 0", ng-click:"onRestoreSelection()", type:"button" }
                - trans "Restore"

    .search-by-text-warning(ng-if='showSearchByTextWarning')
      -blocktrans trimmed with days=search_text_days
        Searching by text is limited to the last {{days}} days.

    .messages{ infinite-scroll:"loadOldItems(false)", infinite-scroll-disabled:"!isInfiniteScrollEnabled()" }
      .stackitem.clearfix.hoverable{ ng-repeat:"item in items | filter: getItemFilter()", ng-click:"onExpandMessage(item)", ng-class:"{ flagged: item.flagged, selected: item.selected, archived: item.archived, lock: item.lock }" }
        .message-actions
          %input{ type:"checkbox", ng-model:"item.selected", ng-change:"onChangeSelection()", ng-hide:'item.lock'}
          %i.lockglyph.glyphicon.glyphicon-ban-circle{ ng-show:'item.lock' }
          %a.flag{ ng-click:"onToggleMessageFlag(item)" }
            %i.glyphicon.glyphicon-flag
        .message-time
          %cp-date{ time:"item.time" }
        .{ class:"{% if site_contact_display == 'urns' %}message-contact-urns{% else %}message-contact-default{% endif %}" }
          %a{ ng-click:"activateContact(item.contact)" }><
            %cp-contact{ contact:"item.contact", fields:"fields" }
        .message-text
          %span.label-container{ ng-if:"item.flow" }
            %span.label.label-info
              - trans "Flow"
            &nbsp;
          %span.label-container{ ng-if:"item.case" }
            %span.label.label-warning{ ng-if:"item.case.user_assignee" }
              [[ item.case.assignee.name ]] ([[item.case.user_assignee.name]])
            %span.label.label-warning{ ng-if:"!item.case.user_assignee" }
              [[ item.case.assignee.name ]]
            &nbsp;
          %span.label-container{ ng-repeat:"label in filterDisplayLabels(item.labels)" }
            %span.label.label-success
              [[ label.name ]]
            &nbsp;
          [[ item.text ]]
        .message-extra{ uib-collapse:"expandedMessageId != item.id" }
          .btn-group.pull-away
            %button.btn.btn-default{ type:"button", ng-click:"onCaseFromMessage(item)" }
              - trans "Open Case"
            %button.btn.btn-default{ type:"button", ng-click:"onReplyToMessage(item)" }
              - trans "Reply"
            %button.btn.btn-default{ type:"button", ng-click:"onForwardMessage(item)" }
              %i.glyphicon.glyphicon-share-alt
              - trans "Forward"
            %button.btn.btn-default{ type:"button", ng-click:"onLabelMessage(item)" }
              %i.glyphicon.glyphicon-tag
            %button.btn.btn-default{ type:"button", ng-click:"onShowMessageHistory(item)" }
              %i.glyphicon.glyphicon-time

      .loading{ ng-if:"oldItemsLoading" }
      .none{ ng-hide:"oldItemsLoading || items.length > 0" }
        - trans "No messages"
      .none{ ng-hide:"oldItemsLoading || !hasTooManyItemsToDisplay()" }
        - trans "Search returned more items than can be displayed"


- block extra-style
  {{ block.super }}
  :css
    .search-toolbar .search-form-advanced .form-group {
      margin-bottom: 5px;
    }
    .search-toolbar .search-form-advanced .form-group:last-of-type {
      margin-bottom: 0;
    }
    .search-toolbar .date-range .input-group, .date-range label {
      float: left;
    }
    .search-toolbar .date-range label {
      padding: 5px 1em 0 1em;
    }
    .search-toolbar .group-select {
      width: 500px;
    }

    .message-actions {
      float: left;
      width: 50px;
    }
    .message-contact-default {
      float: left;
      width: 80px;
    }
    .message-contact-urns {
      float: left;
      width: 130px;
    }
    .message-actions input[type="checkbox"] {
      width: auto;
      margin-right: 7px;
    }
    .message-time, .action-time {
      float: right;
      font-size: 0.7em;
      margin-left: 3px;
      margin-bottom: 3px;
    }
    .message-text {
      word-wrap: break-word;
      overflow-wrap: break-word;
      overflow: hidden;
    }
    .message-actions .flag {
      color: #ddd;
      cursor: pointer;
    }
    .stackitem.flagged .message-actions .flag {
      color: #444 !important;
    }
    .message-history {
      max-height: 300px;
      overflow-y: scroll;
    }
    .stackitem.selected {
      background-color: #FFFFE0
    }
    .stackitem.archived .message-text {
      color: #999;
    }
