- extends "smartmin/read.html"
- load smartmin i18n utils

- block pre-content

  - if banner_text
    .well.well-sm.banner
      %span.glyphicon.glyphicon-info-sign
      .banner-text
        {{ banner_text }}

- block content
  {{ context_data_json|json_script:"contextData" }}

  %script(type="text/javascript")
    var contextData = JSON.parse(document.getElementById('contextData').textContent);

  .ng-cloak{ ng-controller:"InboxController", ng-init:'init("{{ folder }}", {{ server_time }})', ng-cloak:"" }
    .page-header.clearfix
      %h2.pull-back
        .{ ng-if:"!activeLabel" }
          %i{ class:'glyphicon {{ folder_icon }}' }
          &nbsp;
          {{ title }}
        .{ ng-if:"activeLabel" }
          %i.glyphicon.glyphicon-tag
          &nbsp;
          [[ activeLabel.name | deunderscore ]]

      .page-header-buttons.btn-group
        - if perms.msgs.label_read or org_perms.msgs.label_read
          %a.btn.btn-default{ ng-href:"/label/read/[[ activeLabel.id ]]/", ng-if:"activeLabel" }
            - trans "View Label"
        - if allow_case_without_message
          %button.btn.btn-default{ type:"button", ng-click:"onCaseWithoutMessage()"}
            - trans "Open Case"

    .row
      .col-md-3
        .home-menu
          %h3
            %span.glyphicon.glyphicon-envelope
            - trans "Messages"

          %ul.nav.nav-pills.nav-stacked
            %li{ class:"{% if_url 'cases.inbox' 'active' '' %}" }
              %a{ href:"{% url 'cases.inbox' %}" }
                - trans "Inbox"
                  %span.caret.arrow{ ng-show:'folder == "inbox"' }
              %ul.label-menu{ ng-if:"labels.length > 0", id:'inbox', ng-show:'folder == "inbox"' }
                %li.label-link{ ng-repeat:"label in labels" }
                  %a{ ng-href:"/#?label=[[ label.name | urlencode ]]", ng-class:'{ strong: label == activeLabel }' }
                    %span.glyphicon.glyphicon-tag{ style:"font-size: 0.75em" }
                    [[ label.name | deunderscore ]] ([[ label.counts.inbox ]])
            %li{ class:"{% if_url 'cases.flagged' 'active' '' %}" }
              %a{ href:"{% url 'cases.flagged' %}" }
                - trans "Flagged"
            %li{ class:"{% if_url 'cases.archived' 'active' '' %}" }
              %a{ href:"{% url 'cases.archived' %}" }
                - trans "Archived"
                  %span.caret.arrow{ ng-show:'folder == "archived"' }
              %ul.label-menu{ ng-if:"labels.length > 0", ng-show:'folder == "archived"' }
                %li.label-link{ ng-repeat:"label in labels" }
                  %a{ ng-href:"{% url 'cases.archived' %}#?label=[[ label.name | urlencode ]]", ng-class:'{ strong: label == activeLabel }' }
                    %span.glyphicon.glyphicon-tag{ style:"font-size: 0.75em" }
                    [[ label.name | deunderscore ]] ([[ label.counts.archived ]])
            - if perms.msgs.message_unlabelled or org_perms.msgs.message_unlabelled
              %li{ class:"{% if_url 'cases.unlabelled' 'active' '' %}" }
                %a{ href:"{% url 'cases.unlabelled' %}" }
                  - trans "Unlabelled"
            %li{ class:"{% if_url 'cases.sent' 'active' '' %}" }
              %a{ href:"{% url 'cases.sent' %}" }
                - trans "Sent"

          %h3
            %span.glyphicon.glyphicon-briefcase
            - trans "Cases"

          %ul.nav.nav-pills.nav-stacked
            %li{ class:"{% if_url 'cases.open' 'active' '' %}" }
              %a{ href:"{% url 'cases.open' %}" }
                - trans "Open"
                ({{ open_case_count }})
            %li{ class:"{% if_url 'cases.closed' 'active' '' %}" }
              %a{ href:"{% url 'cases.closed' %}" }
                - trans "Closed"
                ({{ closed_case_count }})

      .col-md-9{ ng-view:"" }
        - block home-items


- block extra-style
  {{ block.super }}
  :css
    .banner {
      margin-bottom: 0;
    }
    .banner .glyphicon {
      color: #999;
      float: left;
      font-size: 20px;
    }
    .banner .banner-text {
      margin-left: 32px;
    }
    .home-menu > ul {
      margin: 0 0 1em 0;
    }
    .home-menu > ul > li > a {
      padding: 7px 12px;
    }
    .home-menu h3 {
      margin: 0 0 1em 0;
      font-size: 1.2em;
    }
    .home-menu h3 .glyphicon {
      margin-right: 0.3em;
    }
    .home-menu ul.label-menu {
      margin: 0;
      padding: 6px 0 6px 18px;
      list-style: none;
    }
    .home-menu ul.label-menu a {
      display: inline-block;
    }
    .search-toolbar, .contact-toolbar {
      padding: 4px;
      background-color: #f7f7f7;
    }
    .selection-toolbar {
      padding: 4px;
      background-color: #F4E4F5;
      border-top: 1px solid #ddd;
    }
    .selection-info, .contact-info {
      display: inline-block;
      padding: 7px 0 0 7px;
    }
    .search-by-text-warning {
      text-align: center;
      font-size: 0.9em;
      padding: 2px;
      background-color: #FFE;
    }
