- extends "cases/inbox_base.html"
- load smartmin i18n

- block home-items
  .{ ng-controller:"OutgoingController", ng-init:"init()" }

    .contact-toolbar{ ng-if:"activeContact" }
      .row
        .col-md-12
          %span.contact-info
            Messages for contact
            %strong
              [[ activeContact.name ]]

            - if user_is_admin
              &nbsp;
              %a{ ng-href:"/contact/read/[[ activeContact.id ]]/" }
                - trans "View"
          .pull-away
            %button.btn.btn-default{ type:"button", ng-click:"activateContact(null)" }
              - trans "Back"

    .search-toolbar{ ng-if:"!activeContact" }
      %form.clearfix
        .btn-group.pull-away
          %button.btn.btn-default{ type:"button", ng-click:"onSearch()" }
            %span.glyphicon.glyphicon-search
            - trans "Search"

        %input.form-control{ ng-model:"searchFields.text", type:"text", placeholder:"Search", style:"width: 400px" }

    .messages{ infinite-scroll:"loadOldItems(false)", infinite-scroll-disabled:"!isInfiniteScrollEnabled()" }
      .stackitem.clearfix.hoverable{ ng-repeat:"item in items" }
        .message-time
          <cp-date time="item.time" />
        .message-sender
          %a{ ng-href:"/user/read/[[ item.sender.id ]]/" }><
            [[ item.sender.name ]]
          %br
          to
          %span{ ng-if:"item.contact" }
            %a{ ng-click:"activateContact(item.contact)", style:"white-space: nowrap;" }><
              <cp-contact contact="item.contact" fields="fields">
          %span{ ng-if:"item.urn" }
            %strong><
              <cp-urn urn="item.urn" />

        .message-text
          %span.label-container{ ng-if:"item.case" }
            %span.label.label-warning
              [[ item.case.assignee.name ]]
            &nbsp;
          [[ item.text ]]

      .loading{ ng-if:"oldItemsLoading" }
      .none{ ng-hide:"oldItemsLoading || items.length > 0" }
        - trans "No messages"
      .none{ ng-hide:"oldItemsLoading || !hasTooManyItemsToDisplay()" }
        - trans "Search returned more items than can be displayed"

- block extra-style
  {{ block.super }}
  :css
    .message-time {
      float: right;
      font-size: 0.7em;
      margin-left: 3px;
      margin-bottom: 3px;
    }
    .message-sender {
      float: left;
      width: 145px;
    }
    .message-text {
      margin-left: 150px;
    }
