- extends "smartmin/list.html"
- load smartmin i18n

- block table-controls
  .clearfix
    .pull-away.buttons
      - if perms.msgs.label_create or org_perms.msgs.label_create
        %a.btn.btn-default.pull-right{ href:"{% url 'msgs.label_create' %}" }
          %span.glyphicon.glyphicon-plus
          - trans "Add"
