- extends "smartmin/read.html"
- load smartmin i18n thumbnail

- block pre-content

- block content

  - include 'modals.haml'

  %script{ type:"text/javascript" }
    var contextData = {{ context_data_json|safe }};

  .ng-cloak{ ng-controller:"PartnerController", ng-init:"init()", ng-cloak:"" }
    .page-header.clearfix{ style:"border-bottom: none" }
      .clearfix{ style:"margin-bottom: 10px" }
        .page-header-buttons
          - if can_manage
            %a.btn.btn-default{ href:"{% url 'profiles.user_create_in' object.pk %}" }
              - trans "New User"
            .btn-group
              %a.btn.btn-default{ href:"{% url 'cases.partner_update' object.pk %}", tooltip:"Edit Partner" }
                %span.glyphicon.glyphicon-pencil
              - if org_perms.cases.partner_delete
                %a.btn.btn-default{ ng-click:"onDeletePartner()", tooltip:"Delete" }
                  %span.glyphicon.glyphicon-trash

        - if object.logo
          .partner-logo.pull-back
            {% thumbnail object.logo "200x80" format="PNG" as im %}
            %img.logo{ src:"{{ im.url }}", alt:"{{ partner.name }}"}
            {% endthumbnail %}
        %h2
          {{ object.name }}

      .header-details
        - if partner.get_labels
          - for label in partner.get_labels
            %span.label-container
              %span.label.label-success
                {{ label.name }}
              &nbsp;
        - else
          %i
            - trans "No labels"

    <tabset active="active">
      <tab index="0">
        <tab-heading>
          <i class="glyphicon glyphicon-dashboard"></i> Summary
        </tab-heading>
        TODO<br/>
        Number of open cases: xxxxx<br/>
        Number of replies (last 30 days): yyyy<br/>
        Number of replies (total): zzzz<br/>
      </tab>
      <tab index="1">
        <tab-heading>
          <i class="glyphicon glyphicon-comment"></i> Replies
        </tab-heading>
        .ng-cloak{ ng-controller:"PartnerRepliesController" }
          .{ infinite-scroll:"loadOldItems(false)", infinite-scroll-disabled:"!isInfiniteScrollEnabled()" }
            %table.table.table-striped
              %thead
                %th
                  - trans "Contact"
                %th
                  - trans "Message"
                %th
                  %span.glyphicon.glyphicon-flag
                %th
                  - trans "User"
                %th
                  - trans "Reply"
                %th
                  - trans "On"
                %th
                  - trans "Time"
              %tbody
                %tr{ ng-repeat:"item in items" }
                  %td{ nowrap:"" }
                    %span.glyphicon.glyphicon-phone>
                    [[ item.contact.uuid | limitTo:6 | uppercase ]]
                  %td
                    [[ item.reply_to.text ]]
                  %td
                    %span.glyphicon.glyphicon-flag{ ng-if:"item.reply_to.flagged" }
                  %td
                    %a{ ng-href:"/user/read/[[ item.sender.id ]]/" }><
                      [[ item.sender.name ]]
                  %td
                    [[ item.text ]]
                  %td{ nowrap:"" }
                    [[ item.time | autodate ]]
                  %td
                    [[ item.response_time ]]

          .loading{ ng-if:"oldItemsLoading" }
          .none{ ng-hide:"oldItemsLoading || items.length > 0" }
            - trans "None"
          .none{ ng-hide:"oldItemsLoading || !hasTooManyItemsToDisplay()" }
            - trans "More items than can be displayed"

      </tab>
      <tab index="2">
        <tab-heading>
          <i class="glyphicon glyphicon-user"></i> Users
        </tab-heading>
        - if users
          %table.table.table-striped
            %thead
              %th
                - trans "Name"
              %th
                - trans "Role"
              %th
                - trans "Replies (this month)"
              %th
                - trans "Replies (last month)"
              %th
                - trans "Replies (total)"
            %tbody
              %tr{ ng-repeat:"user in users" }
                %td
                  %a{ ng-href:"/user/read/[[ user.id ]]/" }><
                    [[ user.name ]]
                %td
                  [[ user.role ]]
                %td
                  [[ user.replies.this_month ]]
                %td
                  [[ user.replies.last_month ]]
                %td
                  [[ user.replies.total ]]
        - else
          .none
            - trans "None"

      </tab>
    </tabset>


- block extra-style
  {{ block.super }}
  :css
    .partner-logo {
      margin: 15px 20px 0 0;
      border: 1px solid #BBB;
    }
    .partner-label {
      margin-left: 1em
    }
