- extends "smartmin/read.html"
- load smartmin i18n thumbnail humanize

- block pre-content

- block content
  {{ context_data_json|json_script:"contextData" }}

  %script(type="text/javascript")
    var contextData = JSON.parse(document.getElementById('contextData').textContent);

  .ng-cloak{ ng-controller:"PartnerController", ng-init:"init()", ng-cloak:"" }
    .page-header.clearfix{ style:"border-bottom: none" }
      .clearfix{ style:"margin-bottom: 10px" }
        .page-header-buttons
          - if can_manage
            .btn-group
              %a.btn.btn-default{ href:"{% url 'cases.partner_update' object.pk %}", tooltip:"Edit Partner" }
                %span.glyphicon.glyphicon-pencil
              - if perms.msgs.partner_delete or org_perms.cases.partner_delete
                %a.btn.btn-default{ ng-click:"onDeletePartner()", tooltip:"Delete" }
                  %span.glyphicon.glyphicon-trash

        - if object.logo
          .partner-logo.pull-back
            {% thumbnail object.logo "200x80" format="PNG" as im %}
            %img.logo{ src:"{{ im.url }}", alt:"{{ partner.name }}"}
            {% endthumbnail %}
        %h2
          {{ object.name }}

      .header-details
        - if object.primary_contact
          Primary contact:&nbsp
          %a{ ng-href:"/user/read/{{ object.primary_contact.id }}/" }><
            {{ object.primary_contact.get_full_name }}
        - else
          %i
            - trans "No primary contact"

      - if object.is_restricted
        .header-details
          %br
          - if labels
            - for label in labels
              %span.label-container
                %span.label.label-success
                  {{ label.name }}
                &nbsp;
          - else
            %i
              - trans "No labels"

    %uib-tabset{ active:"active" }

      %uib-tab{ index:"0", select:"onTabSelect(0)" }
        %uib-tab-heading
          %span.glyphicon.glyphicon-dashboard
          - trans "Summary"
        %br
        .row
          .col-md-4
            %ul
              %li
                Total replies: <strong>{{ summary.total_replies | intcomma }}</strong>
              %li
                Number of open cases: <strong>{{ summary.cases_open | intcomma }}</strong>
              %li
                Number of closed cases: <strong>{{ summary.cases_closed | intcomma }}</strong>
          .col-md-8
            #chart-replies-by-month

      - if can_view_replies
        %uib-tab{ index:"1", select:"onTabSelect(1)" }
          %uib-tab-heading
            %span.glyphicon.glyphicon-comment
            - trans "Replies"
          .ng-cloak{ ng-controller:"PartnerRepliesController", ng-init:"init()" }
            .search-toolbar.clearfix
              - if perms.msgs.replyexport_create or org_perms.msgs.replyexport_create
                .pull-away
                  %button.btn.btn-default{ type:"button", ng-click:"onExportSearch()" }
                    %span.glyphicon.glyphicon-save
                    - trans "Export..."

              %form.form-horizontal
                %span.date-range{ ng-controller:"DateRangeController", ng-init:'init("searchFields.after", "searchFields.before")' }
                  %label.control-label{ style:"padding-left: 0" }
                    - trans "From"
                  .input-group.date-picker
                    %input.form-control{ type:"text", uib-datepicker-popup:"[[ format ]]", ng-model:"searchFields.after", is-open:"afterOpen", datepicker-options:"afterOptions" }
                    %span.input-group-btn
                      %button.btn.btn-default{ type:"button", ng-click:"openAfter($event)" }
                        %i.glyphicon.glyphicon-calendar
                  %label.control-label
                    - trans "Until"
                  .input-group.date-picker
                    %input.form-control{ type:"text", uib-datepicker-popup:"[[ format ]]", ng-model:"searchFields.before", is-open:"beforeOpen", datepicker-options:"beforeOptions" }
                    %span.input-group-btn
                      %button.btn.btn-default{ type:"button", ng-click:"openBefore($event)" }
                        %i.glyphicon.glyphicon-calendar

            .{ infinite-scroll:"loadOldItems(false)", infinite-scroll-disabled:"!isInfiniteScrollEnabled()" }
              %table.table.table-striped
                %thead
                  %th
                    - trans "On"
                  %th
                    - trans "User"
                  %th
                    - trans "Message"
                  %th
                    - trans "Delay"
                  %th
                    - trans "Reply to"
                  %th
                    %span.glyphicon.glyphicon-flag
                  %th
                    - trans "Contact"
                %tbody
                  %tr{ ng-repeat:"item in items" }
                    %td{ nowrap:"" }
                      %cp-date{ time:"item.time", tooltip-position:"top-left" }
                    %td
                      %a{ ng-href:"/user/read/[[ item.sender.id ]]/" }><
                        [[ item.sender.name ]]
                    %td
                      [[ item.text ]]
                    %td
                      %span{ ng-class:"{'time-warning': item.response.warning}" }>
                        [[ item.response.delay ]]
                    %td.message-text
                      %span.label-container{ ng-if:"item.case" }
                        %span.label.label-warning
                          [[ item.case.assignee.name ]]
                        &nbsp;
                      %span.label-container{ ng-repeat:"label in item.reply_to.labels" }
                        %span.label.label-success
                          [[ label.name ]]
                        &nbsp;
                      [[ item.reply_to.text ]]
                    %td
                      %span.glyphicon.glyphicon-flag{ ng-if:"item.reply_to.flagged" }
                    %td{ nowrap:"" }
                      %a{ ng-href:"/contact/read/[[ item.contact.id ]]" }><
                        %cp-contact{ contact:"item.contact", fields:"fields" }

            .loading{ ng-if:"oldItemsLoading" }
            .none{ ng-hide:"oldItemsLoading || items.length > 0" }
              - trans "None"
            .none{ ng-hide:"oldItemsLoading || !hasTooManyItemsToDisplay()" }
              - trans "More items than can be displayed"

      %uib-tab{ index:"2", select:"onTabSelect(2)" }
        %uib-tab-heading
          %span.glyphicon.glyphicon-user
          - trans "Users"
        .search-toolbar.clearfix
          - if can_manage
            .pull-away
              %a.btn.btn-default{ href: "{% url 'profiles.user_create_in' object.pk %}" }
                - trans "New..."

          .{ style:"margin-top: 7px" }
            Total of <strong>[[ users.length ]]</strong> users

        %table.table.table-striped
          %thead
            %th
              - trans "Name"
            %th
              - trans "Role"
            %th
              - trans "Replies (this month)"
            %th
              - trans "Replies (last month)"
            %th
              - trans "Replies (total)"
          %tbody
            %tr{ ng-repeat:"user in users" }
              %td
                %a{ ng-href:"/user/read/[[ user.id ]]/" }><
                  [[ user.name ]]
              %td
                %span{ ng-if:'user.role == "M"' }
                  - trans "Manager"
                %span{ ng-if:'user.role == "Y"' }
                  - trans "Data Analyst"
              %td
                [[ user.replies.this_month ]]
              %td
                [[ user.replies.last_month ]]
              %td
                [[ user.replies.total ]]
        .none{ ng-if:"!users" }
          - trans "None"


- block extra-style
  {{ block.super }}
  :css
    .partner-logo {
      margin: 15px 20px 0 0;
      border: 1px solid #BBB;
    }
    .partner-label {
      margin-left: 1em
    }
    .search-toolbar .date-range .input-group, .date-range label {
      float: left;
    }
    .search-toolbar .date-range label {
      padding: 7px 1em 0 1em;
    }
    .time-warning {
      color: #922
    }
    #chart-replies-by-month {
      width: 100%;
      height: 250px;
    }

    .message-text {
      /* forces wrapping of messages with no spaces */
      max-width: 400px;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
