- extends "smartmin/read.html"
- load smartmin i18n

- block pre-content

  - include 'modals.haml'

  %script{ type:"text/javascript" }
    var contextData = {{ context_data_json|safe }};

  .ng-cloak{ ng-controller:"UserController", ng-cloak:"" }
    .page-header.clearfix
      .page-header-buttons
        - if edit_button_url
          .btn-group
            %a.btn.btn-default{ href:"{{ edit_button_url }}", tooltip:"Edit User" }
              %span.glyphicon.glyphicon-pencil
            - if can_delete
              %a.btn.btn-default{ ng-click:"onDeleteUser()", tooltip:"Delete User" }
                %span.glyphicon.glyphicon-trash

      %h2
        %span.glyphicon.glyphicon-user
        &nbsp;
        [[ user.name ]]

- block read-buttons