- extends "smartmin/create.html"

- block extra-script
  {{ block.super }}
  :javascript
    $(function() {
      function onChangeRole() {
        $('#id_partner').prop("disabled", $('#id_role').val() == 'A');
      }
      $('#id_role').on('change', onChangeRole);

      onChangeRole();
    });
