- extends "smartmin/read.html"
- load smartmin i18n humanize

- block pre-content

- block content
  {{ context_data_json|json_script:"contextData" }}

  %script(type="text/javascript")
    var contextData = JSON.parse(document.getElementById('contextData').textContent);

  .ng-cloak{ ng-controller:"UserController", ng-cloak:"" }
    .page-header.clearfix{ style:"border-bottom: none" }
      .page-header-buttons
        - if edit_button_url
          .btn-group
            %a.btn.btn-default{ href:"{{ edit_button_url }}", tooltip:"Edit User" }
              %i.glyphicon.glyphicon-pencil
            - if can_delete
              %a.btn.btn-default{ ng-click:"onDeleteUser()", tooltip:"Delete User" }
                %i.glyphicon.glyphicon-trash
            - if perms.auth.user_mimic
              %form#mimic-form{ style:"display: none", method:"post", action:"{% url 'users.user_mimic' object.id %}" }
                {% csrf_token %}
              %button.btn.btn-danger{ type:"button", onclick:'$("#mimic-form").submit()' }
                - trans "Become"

      %h2
        %span.glyphicon.glyphicon-user
        &nbsp;
        [[ user.name ]]

      .header-details
        %span{ ng-if:'user.role == "A"' }
          - trans "Administrator"
        %span{ ng-if:'user.role == "M" || user.role == "Y"' }
          %span{ ng-if:'user.role == "M"' }
            - trans "Manager"
          %span{ ng-if:'user.role == "Y"' }
            - trans "Analyst"
          for
          %a{ ng-href:"/partner/read/[[ user.partner.id ]]/" }<
            [[ user.partner.name ]]
        &nbsp;
        &nbsp;
        %i.glyphicon.glyphicon-envelope
        %a(ng-href="mailto:[[ user.email ]]")
          [[ user.email ]]

    %uib-tabset(active="active")

      %uib-tab(index="0" select="onTabSelect(0)")
        %uib-tab-heading
          %span.glyphicon.glyphicon-dashboard
          -trans "Summary"
        %br
        .row
          .col-md-4
            %ul
              %li
                Total replies: <strong>{{ summary.total_replies | intcomma }}</strong>
          .col-md-8
            #chart-replies-by-month

      %uib-tab(index="1" select="onTabSelect(1)")
        %uib-tab-heading
          %span.glyphicon.glyphicon-briefcase
          &nbsp;
          -trans "Cases"
        %br
        .ng-cloak(ng-controller="UserCasesController" ng-cloak="")
          .row
            .col-md-12
              .cases(infinite-scroll="loadOldItems(false)" infinite-scroll-disabled="!isInfiniteScrollEnabled()")
                .stackitem.clearfix.hoverable(ng-repeat="item in items | filter: getItemFilter()" ng-click="onClickCase(item)")
                  .case-time
                    %cp-date(time="item.opened_on")
                  .case-icon
                    %span.glyphicon(ng-class='{ "glyphicon-folder-open": !item.is_closed, "glyphicon-folder-close": item.is_closed }')
                  .case-text
                    %span.label-container(ng-repeat="label in filterDisplayLabels(item.labels)")
                      %span.label.label-success
                        [[ label.name ]]
                      &nbsp;
                    [[ item.summary ]]

                .loading(ng-if="oldItemsLoading")
                .none(ng-hide="oldItemsLoading || items.length > 0")
                  -trans "No cases"
                .none(ng-hide="oldItemsLoading || !hasTooManyItemsToDisplay()")
                  -trans "Search returned more items than can be displayed"


- block extra-style
  {{ block.super }}
  :css
    .header-details {
      padding-top: 5px;
    }
    #chart-replies-by-month {
      width: 100%;
      height: 250px;
    }
    .case-icon {
      float: left;
      width: 50px;
    }
    .case-icon .glyphicon-folder-open {
      color: #5cb85c;
    }
    .case-icon .glyphicon-folder-close {
      color: #d9534f;
    }
    .case-time {
      float: right;
      font-size: 0.7em;
      margin-left: 3px;
      margin-bottom: 3px;
    }