- extends "smartmin/read.html"
- load smartmin i18n

- block pre-content

  - include 'modals.haml'

  %script{ type:"text/javascript" }
    var contextData = {{ context_data_json|safe }};

  .ng-cloak{ ng-controller:"UserController", ng-cloak:"" }
    .page-header.clearfix
      .page-header-buttons
        - if edit_button_url
          .btn-group
            %a.btn.btn-default{ href:"{{ edit_button_url }}", tooltip:"Edit User" }
              %span.glyphicon.glyphicon-pencil
            - if perms.auth.user_mimic
              %button.btn.btn-default{ type:"button", onclick:"becomeUser()" }
                - trans "Become"
            - if can_delete
              %a.btn.btn-default{ ng-click:"onDeleteUser()", tooltip:"Delete User" }
                %span.glyphicon.glyphicon-trash

      %h2
        %span.glyphicon.glyphicon-user
        &nbsp;
        [[ user.name ]]

- block read-buttons

- block extra-script
  {{ block.super }}
  :javascript
    {% if perms.auth.user_mimic %}
    function becomeUser() {
      $.post("{% url 'users.user_mimic' object.id %}", {'csrfmiddlewaretoken': '{{ csrf_token }}'})
      .then(function() { location.href = '/' });
    }
    {% endif %}