<div ng-switch="type">
  <div ng-switch-when="pod_action_confirm">
    <div class="modal-header">
      <h3 class="modal-title">[[ payload.name ]]</h3>

      <div class="modal-body">
        Are you sure you want to perform this action?
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary btn-modal-accept" ng-click="ok()">Yes</button>
        <button class="btn btn-default btn-modal-cancel" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
