<div class="panel panel-default">
    <div class="pod-title panel-heading">{{ podConfig.title }}</div>

    <div class="panel-body panel-body-pod">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div
                        class="pod-item row"
                        ng-repeat="item in podData.items">
                        <div class="col-md-6">
                            <div class="pod-item-name">{{ item.name }}</div>
                        </div>

                        <div class="col-md-6">
                            <div class="pod-item-value">{{ item.value }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group">
        <a
            href=""
            class="pod-action list-group-item"
            ng-repeat="action in podData.actions"
            ng-click="trigger(action.type, action.payload)">
            <span class="text-primary">{{ action.name }}</span>
        </a>
    </div>
</div>
