{% load comments i18n%}

<form class="sendform" action="{% url 'comments-post-comment' %}" method="post">
    {% csrf_token %}
    {% if form.errors %}
      <h1>{% blocktrans trimmed count counter=form.errors|length %}Please correct the error below{% plural %}Please correct the
        errors below{% endblocktrans %}</h1>
    {% endif %}
    {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
    <textarea class="form-control" placeholder="Enter message" type="text" name="comment"></textarea>
    <div class="sendform-controls clearfix">
      <button class="btn btn-default pull-right" ng-disabled="sending || $parent.newMessage.length == 0 || msgCharsRemaining < 0" ng-click="sendMessage()" type="submit" name="submit" disabled="disabled">
        Send
      </button>
    </div>


    {{ form.object_pk }}

    {{ form.content_type }}

    {{ form.timestamp }}

    {{ form.security_hash }}

    <input type="hidden" name="next" value="{{request.path}}" />
    <input type="hidden" name="email" value="{{request.user.email | default:'blank@email.com'}}" />

    {% if node.id %}
        <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" />
    {% endif %}
</form>
