- extends "smartmin/read.html"
- load smartmin i18n thumbnail

- block pre-content

- block content
  {{ context_data_json|json_script:"contextData" }}

  %script(type="text/javascript")
    var contextData = JSON.parse(document.getElementById('contextData').textContent);

  .ng-cloak{ ng-controller:"ContactController", ng-init:"init()", ng-cloak:"" }
    .page-header.clearfix
      .page-header-buttons
        - if user_is_admin
          %a.btn.btn-default{ href:"{{ backend_url }}", target:"_blank" }
            %span.glyphicon.glyphicon-new-window
            - trans "View External"

      %h2
        %span.glyphicon.glyphicon-phone
        [[ contact.display ]]

      %ul.header-details
        %li{ ng-if:"contact.blocked || contact.stopped" }
          %strong><
            - trans "Status"
          \:
          %span.label-container{ ng-if:"contact.blocked" }
            %span.label.label-danger
              - trans "Blocked"
            &nbsp;
          %span.label-container{ ng-if:"contact.stopped" }
            %span.label.label-danger
              - trans "Stopped"
            &nbsp;

    .row
      .col-md-8
        .panel.panel-default
          .panel-heading
            - trans "Cases"
          .list-group
            %a.list-group-item{ ng-repeat:"item in cases", ng-href:"/case/read/[[ item.id ]]/" }
              .case-time
                %cp-date{ time:"item.opened_on" }
              .case-text
                %span.label-container
                  %span.label.label-warning
                    [[ item.assignee.name ]]
                  &nbsp;
                %span.label-container{ ng-repeat:"label in item.labels" }
                  %span.label.label-success
                    [[ label.name ]]
                  &nbsp;
                [[ item.summary ]]
      .col-md-4
        .panel.panel-default
          .panel-heading
            - trans "Details"
          .panel-body
            .container-fluid
              .row{ ng-if:"contact.name" }
                .contact-field-label.col-sm-6
                  - trans "Name"
                .contact-field-value.col-sm-6
                  [[ contact.name ]]
              .row{ ng-repeat:"urn in contact.urns" }
                .contact-field-label.col-sm-6
                  [[ urn.scheme ]]
                .contact-field-value.col-sm-6
                  [[ urn.path ]]
              .row
                .contact-field-label.col-sm-6
                  - trans "Language"
                .contact-field-value.col-sm-6
                  [[ contact.language.name || "--" ]]
              .row{ ng-repeat:"field in fields" }
                .contact-field-label.col-sm-6
                  [[ field.label ]]
                .contact-field-value.col-sm-6
                  %cp-fieldvalue{ contact:"contact", field:"field" }

        .panel.panel-default
          .panel-heading
            - trans "Groups"
          .panel-body
            %span{ ng-if:"contact.groups.length > 0" }
              [[ getGroups() ]]
            .none{ ng-if:"contact.groups.length == 0", style:"padding: 0em" }
              - trans "None"


- block extra-style
  {{ block.super }}
  :css
    .case-time {
      float: right;
      font-size: 0.7em;
      margin-left: 3px;
      margin-bottom: 3px;
    }
    .contact-field-label {
      font-weight: bold;
    }
