-extends "smartmin/list.html"
-load smartmin i18n

-block table-controls
  .clearfix
    .pull-back
      -blocktrans trimmed
        These are the groups visible to partner organizations.

    .pull-away.buttons
      -if perms.contacts.group_select or org_perms.contacts.group_select
        %a.btn.btn-default.pull-right{ href:"{% url 'contacts.group_select' %}" }
          %span.glyphicon.glyphicon-check
          -trans "Select Groups"
